.contacts {

  .contacts__inner {
    @include flex-vertical;

    padding-top: 44px;
  }

  .contacts__slogan {
    margin: 0;

    width:  234px;

    line-height:  27px;
    font-size: 24px;
    text-align: center;
  }

  .contacts__list {
    @include list-reset;
    @include flex-vertical;

    margin-bottom: 37px;
    padding-top: 36px;
  }

  .contacts__list-item {
    @include flex-vertical;

    min-height: 76px;
  }

  .contacts__list-title {
    margin: 0;

    font-size: 18px;
    text-align: center;
  }

  .contacts__list-info {
    display: block;

    color: $primary-pink;
    line-height: 33px;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
    text-decoration: none;

      &:hover,
      &:focus {
        color: $primary-dark-blue;
        text-decoration: underline;
      }

      &:active {
        color: #bec2c7;
      }
  }

  .contacts__map {
    position: relative;

    min-height: 207px;

      &::before {
        position: absolute;
        content: "";

        top: 0;
        left: 0;

        width: 100%;
        height: 33px;

        background-image: url("../img/bg-triangle-white-footer.svg");
        background-size: 100% 33px;
        background-repeat: no-repeat;

        z-index: 3;
      }

      &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;

        width: 100%;
        height: 100%;

        background-image: url("../img/icon-map-marker.svg"),
                          url("../img/bg-map-mobile@1x.png");
        background-position: 50% 54%, 0px -448px;
        background-size: 40px 40px, cover;
        background-repeat: no-repeat;

        transform: translate(-50%,-50%);

        z-index: 1;
      }

      iframe {
        position: relative;

        width: 100%;
        border: none;

        z-index: 2;
      }

  }
}
