.copyright__inner {
  display: flex;
  justify-content: space-between;

  padding-top: 43px;
  padding-bottom: 40px;
}

.copyright__text {
  display: block;
  font-size: 14px;
}

.copyright__link {
  display: block;

  margin-left: 20px;

  font-size: 0;
}
