.copyright__text {
  font-size: 14px;

  color: $text-color;
}

.copyright__link {
  display: block;

  margin-left: 25px;

  font-size: 0;

    svg {
      fill: $primary-pink;
    }

    &:hover,
    &:focus {

      svg {
        fill: $primary-blue;
      }
    }

    &:active {
      svg {
        fill: #bec2c7;
      }
    }
}
