
.features__wrap {
  padding-top: 43px;

  max-height: 966px;
}

.features__slogan {
  margin-top: 0;
  margin-bottom: 33px;

  line-height: 26px;
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
}

.features__list {
  @include list-reset;

  margin-top: 116px;
}

.features__header {
  margin: 0;
  margin-bottom: 18px;

  font-size: 18px;
  text-align: center;
}

.features__text {
  margin: auto;
  margin-bottom: 26px;

  width: 268px;

  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.features__pic {
  position: relative;
  top: 10px;

  margin: auto;
}
