.legend__inner {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 184px;

  line-height: 30px;
  font-size: 14px;
  text-align: center;
}

.legend__text {
  margin: 0;
}
