.main-footer__inner {
  @include flex-vertical;

  padding-top: 60px;
}

.main-footer__logo {
  margin-bottom: 40px;
}

.main-footer__copyright {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
}
