.main-nav {
  &--closed {
    display: none;
  }
}

.main-nav__site-list {
  display: flex;
  flex-direction: column;

  @include list-reset;

  margin-top: 20px;

  border-bottom: solid 1px #485461;
  border-top: solid 1px #000000;
}
