.page-header {

  &--bg-blue {
    background-color: $primary-blue;
  }
}

.page-header__inner {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 15px;
  // padding-bottom: 20px;

  min-height: 72px;
  max-height: 325px;
}

.page-header__link {
    display: flex;
    align-items: center;
    flex-basis:   50%;

    margin-left: 20px;

    font-size: 0;
}

.page-header__toggle {
  position: relative;

  margin-right: 13px;
  padding: 0;

  width: 36px;
  height: 36px;


  background-color:   transparent;
  border: none;
  cursor: pointer;
}

.page-header__main-nav {
  position: relative;

  flex-grow: 1;

  margin-top: 18px;

  border-top: solid 1px #000000;
  border-bottom: solid 1px #485461;
}
