.page-header {

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-left:   20px;
    padding-right: 20px;

    min-height: 72px;
    max-height: 325px;
  }

  &--bg-blue {
    background-color: $primary-blue;
  }
}
