.page-main__intro {
  background-color: $primary-blue;
}

.page-main__features {
  background-image: linear-gradient(-7deg, #f2f2f2 76%, white 33%);

  overflow: hidden;
}

.page-main__review {
  background-image: linear-gradient(-5deg, #f2f2f2 20%, white 16%);
}


.page-main__tariff {
  background-color:  $bg-color;
}
