.post__btn {
  @include button-reset;

  padding: 13px 0;

  width: 100%;

  border: solid 3px $primary-pink;
  border-radius: 50px;
  color: $primary-pink;
  font-size: 18px;
  font-weight: bold;

    &--cancel {
      color: #dddfe0;

      border: solid 3px #dddfe0;

      &:hover,
      &:focus {
        color: #b5b9be;

        border: solid 3px #b5b9be;
        background-color: transparent;
      }

      &:active {
        color: rgba(255,255,255,0.3);
        background-color: #b5b9be;
      }
    }

    &--upload {
      &:hover,
      &:focus {
        color: #ffffff;

        background-color: $primary-pink;
      }

      &:active {
        color: #fffff1;
      }

  }
}

.post__item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}
