.reg-form__list {
  @include list-reset;

    fieldset {
      border: none;
    }
}

.reg-form__item {
  padding-top: 40px;

  &--gray {
    background-color: $bg-color;
  }
}

.reg-form__title {
  margin-bottom: 40px;

  color: $primary-pink;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}
