.slider__toggle-group {
  margin-top: 40px;
  margin-bottom: 40px;
}
.slider__toggle {
  @include button-reset;

  padding: 0;
  margin-left: 11px;

  width: 7px;
  height: 7px;

  font-size: 0;
    background-color: #bec2c7;
    border-radius: 50%;

  &--current {
    width: 12px;
    height: 12px;

    background-color: $white-color;
    border: solid 3px #283645;
    border-radius: 50%;
  }

}
