.social-list {
  @include list-reset;
  display: flex;

  margin-bottom: 40px;
}

.social-list__item {
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 51px;
  height: 51px;

  background-color: #ffffff;
  border-radius: 50%;

  border: solid 3px #e9ebec;

  font-size: 0;

  path {
    fill: $primary-pink;
  }
}
