.upload {
  &--bg-gray {
    position: relative;

    background-color: $bg-color;
  }
}

.upload__range {
  position: relative;

  margin: auto;

  width: 230px;
  height: 2px;

  background-color: $primary-blue;

  cursor: pointer;
}

.upload__range-option {
  position: absolute;
  top: 50%;
  left: 75%;

  margin: 0;
  padding: 0;

  width: 15px;
  height: 15px;

  background-color: $main-white;

  border: solid 2px $primary-pink;
  border-radius: 50%;

  transform: translateY(-50%);

  cursor: pointer;

  &:active {
    background-color: $primary-pink;
  }
}

.upload__inner {
  @include flex-vertical;

  padding-top: 20px;
}

.upload__image {
  margin-bottom: 40px;
}

.upload__option {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.upload__option-item {
  flex-basis: 54px;

  &:last-child {
    flex-grow: 1;

    margin-top: 34px;
  }
}

.upload__option-btn {
  @include button-reset;

  display: flex;
  align-items: center;
  justify-content: center;
}

.upload__post {
  position: relative;

  @include list-reset;
  @include flex-vertical;

  padding-top: 60px;
  padding-bottom: 40px;

  width: 100%;

  &::before {
    position: absolute;
    content: "";

    top: 35px;

    width: 320px;
    height: 2px;

    background-color: $gray-border;
  }
}

.upload__post-item {
  margin-bottom: 12px;

  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
}

.upload__btn {
  width: 100%;
  height: 50px;

  border-radius: 50px;
  border-width: 3px;
  border-style: solid;

  background-color: transparent;

  font-family: inherit;
  font-size: 18px;
  font-weight: bold;

  cursor: pointer;

  &--publish {
    border-color: $primary-pink;
    color: $primary-pink;

    &:hover,
    &:focus {
      color: $main-white;
      background-color: $primary-pink;
    }

    &:active {
      color: $main-white-opacity;
    }
  }

  &--cancel {
    border-color: $gray-border;
    color: $gray-border;

    &:hover,
    &:focus {
      color: $main-white;
      background-color: $gray-border;
    }

    &:active {
      color: $main-white-opacity;
    }
  }
}
