.user-contact__wrap {
  display: flex;
  flex-direction: column;
}

.user-contact__label {
  margin-left: 24px;
  margin-bottom: 15px;

  color: $primary-pink;
  font-size: 14px;
  text-transform: uppercase;
}

.user-contact__input {
  padding: 20px;

  border: solid 2px #e5e5e5;

  &::placeholder {

    color: $primary-dark-blue;
    font-size: 18px;
    font-family: $font-stack;
  }
}
