.user-app__wrap {
  position: relative;

  display: flex;
  align-items: center;

  margin: 0;
  margin-bottom: 35px;
}


.user-app__label {
  order: 2;

  margin-left: 32px;
}

.user-app__input {
  margin: 0;

  width: 40px;
  height: 40px;

  opacity: 0;
  z-index: 9000;

  &:checked+.user-app__radio-btn{
    background-image: url("../img/");

  }
}

.user-app__radio-btn {
  position: absolute;

  top: 0;
  left: 0;

  width: 40px;
  height: 40px;

  background-color: #ffffff;
  border: solid 2px #e5e5e5;
  border-radius: 50%;
}
