.user-info__wrap {
  display: flex;
  flex-direction: column;
}

.user-info__label {
  margin-left: 24px;
  margin-bottom: 15px;

  color: $primary-pink;
  font-size: 14px;
  text-transform: uppercase;
}

.user-info__input {
  padding: 20px;

  border: solid 2px #e5e5e5;

  &::placeholder {

    color: $primary-dark-blue;
    font-size: 18px;
    font-family: $font-stack;
  }
}

.user-progress__wrap {
  position: relative;

  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
}

.user-progress__input {
  position: absolute;
  left: 0px;

  width: 40px;
  height: 40px;

  cursor: pointer;
  opacity: 0;
  z-index: 9000;

  &:checked+.user-progress__checkbox {
    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
    background-color: cover;
    background-position: center;
  }

  &:focus+.user-progress__checkbox {
    outline-style: dotted;
    outline-width: 1px;
    outline-color: $primary-pink;
    border: solid 2px #283645;
  }


  &:hover+.user-progress__checkbox {
    border: solid 2px #283645;
  }
}

.user-progress__checkbox {
  top: 0;
  left: 0;

  display: block;

  width: 40px;
  height: 40px;

  background-color: #ffffff;

  border-radius: 3px;
  border: solid 2px $gray-border;

  z-index: 2;

  &::acitve {
    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
    background-color: cover;
    background-position: center;
  }
}

.user-progress__label {
  margin-left: 40px;

  font-size: 14px;
}
