$font-stack: "Open Sans","Helvetica", "Aria", sans-serif;
$bg-color: #f2f2f2;
$gray-border: #e5e5e5;
$main-white: rgb(255, 255, 255);
$main-white-opacity: rgba(255, 255, 255, 0.3);
$primary-blue: #283645;
$primary-blue-opacity: rgba(29, 38, 50, 0.56);
$primary-dark-blue: #1d2631;
$primary-pink: #d22856;
$pink-transparent: #d22856a8;
$header-color: #000000;
$text-color: #283645;
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;
